node_modules

# workbench
packages/bench/node_modules
packages/bench/public

# smoke-node
packages/smoke-node/node_modules
packages/smoke-node/public

# smoke-hub
packages/smoke-hub/node_modules
packages/smoke-hub/public