node_modules

# smoke-bench
packages/bench/node_modules
packages/bench/public

# smoke-node
packages/smoke-node/node_modules
packages/smoke-node/public

# smoke-tools
packages/smoke-hub/node_modules
packages/smoke-hub/public

# smoke-webpack
packages/smoke-webpack/node_modules
packages/smoke-webpack/public